@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


.main {
    display: grid;

    .welcome {
        background-image: linear-gradient(45deg, blue, red);
        height: 300px;
        margin: 2rem;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .5rem;

        @media screen and (max-width: 700px) {
            padding: 2rem;
            flex-direction: column;
            justify-content: space-around;
            height: fit-content;
            margin: 0;
            border-radius: 0;
        }

        h1 {
            font-size: 4rem;
            color: white;
            text-transform: capitalize;
            font-weight: 400;
            font-family: 'Zen Kurenaido', sans-serif !important;

            @media screen and (max-width: 500px) {
                font-size: 3rem;
                padding: 1.5rem 0;
            }

            p {
                font-size: .9rem;
            }

        }

        .wrapper {
            background: rgba(255, 255, 255, 0);
            padding: 1rem 3rem;
            font-size: 1rem;
            text-transform: capitalize;
            color: white;
            font-weight: 500;
            border: 1px white solid;
            border-radius: .2rem;
        }
    }

    .content {
        background: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 2rem;
    }
}

.search {
    display: flex;
    align-items: center;
    padding: 1rem;

    div {
        h1 {
            padding: 2rem 1rem;
            font-size: 2rem;
            text-transform: capitalize;
        }

        input {
            width: 300px;
            height: 50px;
            border: rgba(0, 0, 0, 0.096) solid 2px;
            border-radius: .1rem;
            padding: 1rem;
            margin-left: 1rem;
        }
    }
}




.blogWrapper {
    padding: 3rem;

    .title {
        color: rgb(65, 65, 65);
        padding: .5rem 0;
        font-size: 2rem;
    }

    .discription {
        padding: .2rem 0 !important;
        font-weight: 400;
        font-size: 1rem;
        border-bottom: 1px rgba(128, 128, 128, 0.397) solid;
    }

    .contents {
        padding: 1rem 0;
        line-height: 1.5rem;
    }

    .author {
        color: rgb(70, 70, 70);
    }
}